* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.actionBar {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr;

  grid-row: 5rem;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.queryView {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  border-top: 2px solid gray;
  text-align: left;
  padding-top: 1rem;
}

.nameFilter {
  height: 2rem;
}
